$nav-bar-height: 60px;
.nav-bar {
  height: $nav-bar-height;
  line-height: $nav-bar-height;
  background-color: rgba(22,22,22,.8);
  position: fixed;
  top: 0;
  width: 100%;
  div {
    display: inline-block;
  }
  .brand {
    h1 {
      margin: 0;
    }
    margin: 0 20px;
    color: #fff;
  }

  .nav-btn {
    font-size: 1.4rem;
    background: none;
    border: none;
    color: #ddd;
    transition: .3s;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    margin: 0 20px;

    &.active {
      background-color: #4f9db0;
    }

  }

  .search-bar {
    border-bottom: 2px solid #fff;
    padding: 0;
    height: $nav-bar-height - 10px;
    color: #ffffff;
    font-size: 1.4rem;
    fa-icon {
      margin: 0 15px 0 5px;

    }
    input {
      border: none;
      background: none;
      color: #fff;
      font-size: 1.4rem;
    }
  }
  .right-side {
    float: right;
    .nav-btn:hover {
        background-color: #ddd;
        color: #222;
      }
  }
}

.pangolins {
  margin-top: $nav-bar-height;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.create-link {
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
}
