<nav class="nav-bar">
  <div class="brand">
    <h1>Me Pangolin</h1>
  </div>
  <div class="left-side">
    <button [ngClass]="{active: onlyFriends}" (click)="toggleOnlyFriends()">
      Que mes amis
    </button>
    <div class="search-bar">
      <input id="search-bar" type="text" placeholder="Rechercher un copain" [(ngModel)]="searchItem" (ngModelChange)="onSearch()">
    </div>
  </div>
  <div class="right-side">
    <button>
      Déconnexion
    </button>
  </div>

</nav>
<div class="pangolins">
  <app-pangolin-detail
    *ngFor="let pangolin of pangolins"
    [pangolin]="pangolin"
    (addFriend)="addFriend($event)"
    (removeFriend)="removeFriend($event)"
  ></app-pangolin-detail>
</div>
