<div class="pangolin-container" *ngIf="pangolin">
  <h2 class="name">{{ pangolin.name }}</h2>
  <div class="img-container">
    <img src="https://image.flaticon.com/icons/svg/2750/2750697.svg" alt="pangolin face">
  </div>
  <ul>
    <li>Age : {{ pangolin.age }} ans</li>
    <li>Famille : {{ pangolin.family }}</li>
    <li>Race : {{ pangolin.race }}</li>
  </ul>
  <ng-template [ngIf]="!pangolin.friend" [ngIfElse]="removeButton">
    <button class="add-btn" (click)="friend()">Ajouter à mes amis</button>
  </ng-template>

  <ng-template #removeButton>
    <button class="remove-btn" (click)="noFriend()">Retirer de mes amis</button>
  </ng-template>

</div>
