<a [routerLink]="['/pangolins']" class="return-btn">
  <fa-icon [icon]="returnIcon"></fa-icon>
</a>

<div class="form">
  <form [formGroup]="registerForm">
    <h3>Créer un compte</h3>
    <div class="input-container">
      <input id="name" type="text" formControlName="name" required>
      <label for="name">Nom</label>
    </div>
    <div class="input-container">
      <input id="age" type="text" formControlName="age" required>
      <label for="age">Age</label>
    </div>
    <div class="input-container">
      <input id="family" type="text" formControlName="family" required>
      <label for="family">Famille</label>
    </div>
    <div class="input-container">
      <input id="race" type="text" formControlName="race" required>
      <label for="race">Race</label>
    </div>
    <div class="food-selector">
      <h4>Nourriture :</h4>
      <p>Entrez votre nourriture (séparé par des virgules)</p>
      <tag-input
        formControlName="food"
        [placeholder]="'Entrez votre nourriture'"
        [secondaryPlaceholder]="'Entrez votre nourriture'"
        [separatorKeys]="[',']"
      ></tag-input>
    </div>

    <div style="margin-top: 30px" class="input-container">
      <input id="password" type="password" formControlName="password" required>
      <label for="password">Mot de passe</label>
    </div>
    <div class="input-container">
      <input id="password_confirm" type="password" formControlName="password_confirm" required>
      <label for="password_confirm">Confirmez le mot de passe</label>
    </div>
    <div class="link-container" *ngIf="!createFriend">
      <a [routerLink]="['/login']" class="register-link">Vous êtes déjà venu ? Connectez vous ami pangolin !</a>
    </div>
    <button *ngIf="registerForm.valid && registerForm.value.password === registerForm.value.password_confirm" (click)="submitRegisterForm()">Envoyer</button>
  </form>
</div>
